<div class="container">
<div class="card d-flex px-4 py-2 flex-row justify-content-between" >
  <div clas="d-flex px-4 py-2 flex-column justify-content-between">
    <p><%= recipe.name %></p>
    <p><%= "By #{recipe.user.name}" %></p>
      <% if can? :destroy, recipe %>
    <p><%= link_to 'Remove',
      recipe_path(recipe), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    },
      class: "btn btn-danger" %></p>
      <% end %>
  </div>
  <div>
    <div>Total food items: <%= recipe.recipe_foods.count %></div>
    <div>Total Price: <%= number_to_currency(recipe.total_cost) %></div>
  </div>
  </div>
</div>