<div id="<%= dom_id recipe %>">
  
  <div class="ind-list">
  <div class="left-style">
   
   <h4> Name: 
      <%= recipe.name %>
    </h2>

    <h4>Preparation time:
      <%= recipe.preparation_time %>
    </h2>

    </div>

    <div class="left-style">
      <h4>Cooking time:
      <%= recipe.cooking_time %>
    </h2>

  <div>
    <h4>Step to go: </h2>
    <span> <%= recipe.description %> </span>
    </div>
    <h4>Public:    
      <%= recipe.public %>
    </h2>
    </div>

  </div>
  <div class="buttons">
<%= link_to 'Generate Shopping List', recipe_shopping_list_path(recipe), class: 'btn btn-secondary' %>
<%= link_to "Add new recipe food", new_recipe_recipe_food_path(recipe), class: 'btn btn-primary' %>
  </div>

<%= render 'helper/food_table' do %>
    <%= render recipe.recipe_foods.includes(:food).includes(:recipe) %>
<% end %>
</div>
