<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit Username", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path, class: "mb-3" %>

  <%= button_to "Delete Account", @user, method: :delete, class: 'btn btn-primary' %>
</div>
